

#header{
    padding: 100px;
    background-color: #74EBD5;
    background: linear-gradient(to top, #2baee4 4%, #6dc0b1 109%);
    position: l;
}

#welcomeMessage {
    line-height: 0.5;
    color: white;
    position: absolute;
    top: 10px;
    left: 60px;
}
