#nav{
    text-align: center;
}


#button{
    color: white;
    border-radius: 20px;
    background: linear-gradient(263deg, #6e8efb, #ea76ff);
    text-align: center;
    padding: 12px;
    width: 115px;
    font-weight: bold;
    display: inline-block;
}