<div class="main">
    <div class="loading" *ngIf="!loaded">Loading...</div>

    <ng-template [ngIf]="task">
        <div id="task" style="margin-top:40px">
            <h1>{{task.task}}</h1>
            <h3>Deadline: {{task.deadline | date : 'yyyy-MM-dd'}}</h3>
            <h4>Status: {{isCheckedValue(task.status)}}</h4>
            <p>{{task.description}}</p>

            <a href="" (click)="goBack()">
                <div id="button">Back</div>
            </a>

            <a [routerLink]= "['/update-form/' + task.id]">
                <div id="button">Edit</div>
            </a>
        </div>
    </ng-template>
</div>