<div class="main">
    <h1>Add item to inventory</h1>
    <form [formGroup]="taskForm">
        <div *ngIf="validMessage != ''">
            <h3 class="validationError">{{validMessage}}</h3>
        </div>

        <input type="text"  formControlName="task"          placeholder="Task name"  required autofocus/>
        <input type="text" formControlName="description"    placeholder="Description"  required/>
        <input type="date" formControlName="deadline"       placeholder="Deadline" required/>
        <input type="text"  formControlName="priority"         placeholder="Priority" required/>
        <input type="text"  formControlName="status"         placeholder="Status" required/>
        
        <div id="button" (click)="submitTask()">Submit</div>
    </form>
</div>